@use "sass:math";

@mixin title-main {
    font-size: 2rem;
    color: $textColor;
}

@mixin background-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}