@import "./colors";
@import "./functions";
@import "./mixins";


.authenticate {
    position: absolute;
    top: 25%;
    left: 35%;
    border-radius: 15px;
    width: 30%;
    min-width: 370px;
    min-height: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    &__title {
        @include title-main();
        background-color: transparent;
        height: 10%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        &__input {
            font-size: calculateRem(18, 16);
            box-sizing: border-box;
            padding: 5px;
            color: $textColor;
            height: 50px;
            width: 350px;
            margin-top: 20px;
            border: 0.2px solid $muteText;
            border-radius: 5px;
        }

        &__validation {
            color: red;
            margin-top: 4px;
            background-color: transparent;
        }

        &__button {
            margin-top: 10px;
            height: 35px;
            width: 90px;
            text-align: center;
            border: 0;
            background-color: $secondaryColor;
            border-radius: 10px;
            cursor: pointer;

            &-secondary {
                margin-top: 6px;
                border: 0;
                color: $muteText;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.registration__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
        margin-top: 6px;
        color: $muteText;
        font-size: toRem(13);
    }

    &__list {
        margin-top: 6px;
        display: flex;
        list-style-type: none;
        justify-content: center;

        &__item {
            margin: 0 8px;
            font-size: toRem(30);

            :hover {
                scale: (1.1);
            }
        }
    }
}